/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2018, 5:54:51 PM
    Author     : asabagh
*/

.shl-click-view-table{
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;

}
.shl-click-view-table tr td {
    text-align: center;
    padding: 10px 5px;
}
.shl-click-view-table tr:nth-child(2n){
    background: #f5f5f5;
}
.shl-click-view-table thead tr{
    background: #36304a;
    color: white;
}
.shl-click-view-table thead tr th{
    padding: 10px 5px;
}